html{
    scroll-behavior: smooth;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size:0.9rem;
    line-height: 1.6;
    font-weight: 600;
    color: #606060;
}
a{
    text-decoration: none;
} 
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
    
    
    
}
i{
    color: #2fccdf;

}
 .header-two h2 .servicediv{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: bold;
    color: #606060;
    word-spacing: 4px;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url(bg.jpg); 
      /* we use linear gradient property to make bg-color semi-transparrent */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 77%,50% 100%,0% 75%,0% 0%);    
    /* by using clip-path property we make  our bg more creative */
    position: relative;


}
.header::before{
    content: "";
    position:absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}
.navbar::before{
    content: "";
    position:absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}
.nav-item a{
    color: #fff !important ;
    font-weight: bold;
}
.header-section{
    width: 100%;
    height: inherit;
    position: relative;
    color: white;
    text-align: center;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
}
.header-button a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.header-button a:hover{
    color: #10e6c9;
    background: white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}
/* ************************************Extra div in the header part ...CSS start********************************************** */
.header-two{
    width: 100%;
    height: auto;
    margin:100px auto ;
    text-align: center;
}
.header-div{
    background: #fff;
    border: medium none;
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
}
.header-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);

}




/* ************************************Extra div in the header part ...CSS ends********************************************** */
/* *********************dervices we offer css starts here********************************************************************* */

.serviceoffer{
    background: #f7f7f9;
    padding: 50px 0px;
    margin-bottom: 50px;
}
.names h2{
    color: #2e2e2e;
    font-size: 00.9rem ;
    text-transform: uppercase;
    font-weight: bold;
}
.service-icon{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.progress{
    height: 0.6rem !important;
    margin-bottom: 25px !important;


}

/* *********************dervices we offer css ends here********************************************************************* */

/* ***********************projects done css starts here***************** */
.project-work p{
    font-weight: bold;
}


/* ***********************projects done css ends here***************** */
/* **************************************our best pricing page css starts here******************************** */
.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}
.pricing::before{
    content: "";
    position:absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    background: linear-gradient(160deg,#16c9f6 55%,#fff 0%);
}
.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.card{
    transition: 0.4s ease;

}
.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff !important;
    padding: 25px 9px !important;
}
.card-body{
    padding: 30px 0px !important;

}
.card-body li{
    margin: 10px 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: white !important ;
    padding: 30px 0px !important;
}
.card:hover .card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    color:#50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.card-footer a:hover{
    color: white !important;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
} 
.card:hover .card-header, .card:hover .money{
    color:#50d1c0;

}
.card-second{
    transform: translateY(-12px);
    /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); */

}

/* **************************************our best pricing page css ends here******************************** */

/* **************************Clients feebback Css starts here************** */
.happyclients{
    width: 100%;
    height: 100vh;
    padding: 80px 0px;

}
.box{
    text-align: center;
    border:1px solid rgba(0,0,0,0.2) ;
    border-radius: 2px;
    transition: 0.3s ease;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
}
.box:hover {
    background:#16c9f6;
}
.box:hover p{
    color:white;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px !important;
}
.carousel-indicators li{
    background-color:#16c9f6 ;

}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;

}
.box a::after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h2{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}
.box h3{
    font-size: 13px;
    font-weight: 600;
    color: #666666;
    margin-bottom: 20px;
}

/* **************************Clients feebback Css ends here************** */
/* ***********************Contact us Css Starts here**************** */

.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0px;
    
    margin-top: 30px;
    position: relative;
}
#Email{
    margin-top: 20px;
}
.contactus::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    
    background:linear-gradient(330deg,#16c9f6 55%, #fff 0%);
}
.form-button button{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0px 5px;
    padding: 12px 35px;
    outline: none;
    /* color:#50d1c0; */
    color: black;
    background-color: white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    /* background: transparent; */

}

.form-button button:hover{
    color:#50d1c0;

}
form:hover .form-button button{
    background:#fff;
    /* color:black; */
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
::placeholder{
    font-size: 0.85rem;
}

/* ***********************Contact us ends Starts here**************** */

/* ****************************news letter css stars here *******************/
.newsletter{
    width: 100%;
    height: auto;
    margin: 80px auto;

}
.news-input{
    border-radius: 100px 0px 0px 100px !important ;
    min-width: 150px;
    min-height: 45px;

}
.input-group-text{
    color: #fff !important;
    background: #5bc0de !important;
    border-radius: 0px 100px 100px 0px !important;
    min-width: 130px ;
    min-height: 40px;
}




/* ****************************news letter css ends here *******************/

/* **********************footer css starts here************* */
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;
}
.footersection p{
    color: #fff;
}
.footersection li a{
    font-size: 00.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;

}
.footersection h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);

}
#myBtn{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    color: #fff;
    border: none;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}
#myBtn:hover{
    background: #606060;
}





/* **********************footer css ends here************* */


/* ************************Media quries starts here************** */
@media(max-width:768px){
    .nav-item{
        text-align: center !important;
    }
    .pricing .happyclients .contactus{
        height: auto;
        margin-top: 50px ;
    }
    .card-second{
        transform: translateY(0px);
        margin: 30px 0px;
    }
    .contactus p{
        padding: 0 50px;
    }
    .footer-div :nth-child(2){
        text-align: left !important;
    }
    .footer-div{
        margin: 30px 0px;

    }
}



/* ************************Media quries ends here************** */